<section class="body">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
            <h1 class="page-title" *ngIf="isNewBookView">{{translations.Get('Books_New_Bood')}}</h1>

            <ng-container *ngIf="Book$ | async as book">
                <h1 class="page-title" *ngIf="!isNewBookView">{{translations.Get('Books_Book')}}: {{book.BTitle}}</h1>
            </ng-container>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
            <button mat-raised-button class="primary-btn float-right" (click)="SaveBook()" [disabled]="form.invalid">{{translations.Get('General_Save')}}</button>
            <button mat-raised-button class="float-right margin-right-15" (click)="Cancel()">{{translations.Get('General_Cancel')}}</button>
        </div>
    </div>

    <div class="row categories-row" [formGroup]="form">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Books_Author')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('Books_Author')" formControlName="BAuthorGID" [disabled]="true"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Books_Publisher')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                        <input type="text" class="data-input" [placeholder]="translations.Get('Books_Publisher')" formControlName="BPublisherGID" [disabled]="true"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Books_Title')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('Books_Title')" formControlName="BTitle" required/>
                </div>
                <div class="error-input row" *ngIf="form.get('BTitle')?.errors?.['required']">
                    {{translations.Get('General_Required')}}
                </div>
                <div class="error-input row" *ngIf="form.get('BTitle')?.errors?.['minlength']">
                    {{translations.Get('Books_BTitle_Min3')}}
                </div>
                <div class="error-input row" *ngIf="form.get('BTitle')?.errors?.['maxlength']">
                    {{translations.Get('Books_BTitle_Max255')}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Books_ISBN')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('Books_ISBN')" formControlName="BISBN" required/>
                </div>
                <div class="error-input row" *ngIf="form.get('BISBN')?.errors?.['required']">
                    {{translations.Get('General_Required')}}
                </div>
                <div class="error-input row" *ngIf="form.get('BISBN')?.errors?.['minlength']">
                    {{translations.Get('Books_BISBN_Min13')}}
                </div>
                <div class="error-input row" *ngIf="form.get('BISBN')?.errors?.['maxlength']">
                    {{translations.Get('Books_BISBN_Max13')}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Books_Genre')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('Books_Genre')" formControlName="BGenre" [disabled]="true"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Books_Language')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('Books_Language')" formControlName="BLanguage" required/>
                </div>
                <div class="error-input row" *ngIf="form.get('BLanguage')?.errors?.['required']">
                    {{translations.Get('General_Required')}}
                </div>
                <div class="error-input row" *ngIf="form.get('BLanguage')?.errors?.['maxlength']">
                    {{translations.Get('Books_BLanguage_Max255')}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Books_Description')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('Books_Description')" formControlName="BDescription" required/>
                </div>
                <div class="error-input row" *ngIf="form.get('BDescription')?.errors?.['maxlength']">
                    {{translations.Get('Books_BDescription_Max255')}}
                </div>
            </div>
        </div>
    </div>
</section>