<ng-container *ngIf="Publishers$ | async as publishers">
    <section class="body">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                <h1 class="page-title">{{translations.Get('TopMenu_Publishers')}}</h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <button mat-raised-button class="primary-btn" (click)="AddPublisher()">{{translations.Get('General_Add')}}</button>
            </div>
        </div>

        <div class="row margin-top-15 filter-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-paginator [length]="count" (paginationData)="UpdatePaginationData($event)"></app-paginator>
            </div>
        </div>

        <div class="row padding-top-15 padding-bottom-15" *ngIf="publishers.length != 0">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{translations.Get('Publishers_PName')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{translations.Get('Publishers_PCountry')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{translations.Get('Publishers_PCity')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{translations.Get('Publishers_PEmail')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-xs">
                {{translations.Get('Publishers_PPhone')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3"></div>
        </div>

        <div *ngFor="let publisher of publishers;">
            <div class="row data-row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <p>{{publisher.pName}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <p>{{publisher.pCountry}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <p>{{publisher.pCity}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <p>{{publisher.pEmail}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-xs">
                    <p>{{publisher.pPhone}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                    <span class="bi bi-pencil" (click)="UpdatePublisher(publisher.pgid)"></span>
                    <span class="bi bi-trash" (click)="DeletePublisher(publisher.pgid)"></span>
                </div>
            </div>
        </div>

        <div class="row no-data-row" *ngIf="publishers.length == 0">
            <p>{{translations.Get('Publishers_NotFound')}}</p>
        </div>
    </section>
</ng-container>