<ng-container *ngIf="Reports$ | async as reports">
    <section class="body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="page-title">{{translations.Get('TopMenu_Reports')}}</h1>
            </div>
        </div>

        <div class="row margin-top-15 filter-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-paginator [length]="count" (paginationData)="UpdatePaginationData($event)"></app-paginator>
            </div>
        </div>

        <div class="row padding-top-15 padding-bottom-15" *ngIf="reports.length != 0">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                {{translations.Get('Reports_Name')}}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                {{translations.Get('Reports_Date')}}
            </div>
        </div>

        <div *ngFor="let report of reports;">
            <div class="row data-row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <p>{{report.rName}}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p>{{report.rGenerationDate}}</p>
                </div>
            </div>
        </div>

        <div class="row no-data-row" *ngIf="reports.length == 0">
            <p>{{translations.Get('Reports_NotFound')}}</p>
        </div>
    </section>
</ng-container>